html,body {
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #FFE4C4;
}


.navigation ul{
	background-color: #FFE4C4;
	color: white;
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 50px;
}

.navigation li{
	display:inline-block;
	padding-left: 30px;
	padding-right: 30px;
	background-color: pink;
	line-height: 50px;

}

.capa{
	color: #e6007a;
}
.capa span{
	color: white;
}